@import '_variables.scss';

@mixin box-shadow {
  box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}

@mixin triangle {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  width: 3rem;
  height: 3rem;
  background-color: $color-white;
  display: block;
  bottom: -2.8rem;
  left: 0;
  position: absolute;
}

@mixin background-before($width, $left) {
  display: block;
  width: $width;
  height: 1.2rem;
  background: url("../img/Border-BG.jpg") repeat-x;
  background-size: 14%;
  position: absolute;
  left: $left;
  top: 1rem;
}

@mixin background-after($width, $right) {
  display: block;
  width: $width;
  height: 1.2rem;
  background: url("../img/Border-BG.jpg") repeat-x;
  background-size: 14%;
  position: absolute;
  right: $right;
  top: 1rem;
}

@mixin footer-hover($name) {
  content: $name;
  display: block;
  width: 10rem;
  height: 3rem;
  background-color: #4f4d4e;
  color: $color-white;
  font-size: 1.8rem;
  position: absolute;
  top: -.5rem;
  text-align: center;

}