$font-family: 'Lato', sans-serif;
$font-size: 62.5%;
$line-height: 1.5;
$font-weight: 400;

$color-dark-grey: #404040;
$color-light-grey: #efefef;
$color-button-primary: #4e91d7;

$color-button-second: #eceee9;
$color-main-text: #b2b2b2;
$color-dark-text: #9b9b9b;