@import '_variables.scss';
@import '_common.scss';
//@import 'sections/_welcome.scss';


.section__container {
  padding: 1rem 10rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  font-family: inherit;
}

.welcome {

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5rem;
    background: url("../img/Border-BG.jpg") repeat-x;
    background-size: auto 100%;

  }

  &__container {
    background-color: $color-dark-grey;
    display: grid;
    grid-template-rows: 32rem 6rem;
    grid-row-gap: 6rem;

  }

  &__row-first {
    display: grid;
    grid-template-rows: 38rem;
    grid-template-columns: 1fr 30%;
    grid-column-gap: 4rem;
    justify-content: space-between;
  }
  &__row--image {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3;
    margin-bottom: 2rem;
    &--text {
      color: $color-main-text;
      font-weight: 400;
      transform: skewX(0deg);
    }
  }
  &__bold {
    font-weight: 700;
    color: $color-white;
    transform: skewX(-10deg);
  }

  &__right--item {
    padding-top: 4rem;
  }

  &__second--title {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  &__btn {
    background-color: $color-button-primary;
    color: $color-white;
    font-size: 1.2rem;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__second--left {
    display: grid;
    padding: 0 3rem;
    grid-template-columns: 50% 15%;
    grid-template-rows: 7rem;
    grid-column-gap: 35%;
    background-color: $color-button-primary;
    align-items: center;
  }

  &__row-second {
    &::after {
      content: '';
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      display: block;
      width: 3rem;
      height: 3rem;
      background-color: $color-button-primary;
    }
  }

  &__row-second--title {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  &__second-btn {
    background-color: $color-button-second;
    padding: 1rem 4rem;
    color: $color-dark-grey;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}



.about {
  background-color: $color-light-grey;
  padding: 3rem 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 1s;
    padding: 1rem;

    &:hover {
      background-color: $color-white;
      transform: scale(1.1);
      box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
      &::after {
        content: '';
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        display: block;
        width: 3rem;
        height: 3rem;
        background-color: $color-white;
        position: absolute;
        bottom: -2.8rem;
        left: 0;

      }




    }
  }

  &__icon {
    background-color: $color-dark-grey;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;

  }

  &__icon-img {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
  }

  &__main--title {
    font-size: 1.6rem;
    color: $color-dark-text;
    text-transform: uppercase;
  }

  &__bold {
    font-weight: 700;
  }

  &__text {
    font-size: 1.2rem;
    color: $color-black;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__btn {
    text-transform: uppercase;
    background-color: $color-button-primary;
    padding: 1.5rem 4rem;
    color: $color-white;
    border-radius: 2px;
  }
}



