
.footer {
  background-color: $color-grey;
  padding: 2rem 0;
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 2fr 20%;
    grid-column-gap: 5rem;
  }
  &__copyright {
    font-size: 1.6rem;
  }
  &__icons-list {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__svg path {
    width: 100%;
    height: 100%;
    &:hover {
      fill: #ffffff;
    }
  }

  &__twitter {
    &:hover {
      &::before {
        @include footer-hover('Twitter');
        &::after {
          @include triangle;
        }
      }
    }
  }

  &__facebook {
    &:hover {
      &::before {
        @include footer-hover('Facebook');
      }
    }
  }

  &__vimeo {
    &:hover {
      &::before {
        @include footer-hover('Vimeo');
      }
    }
  }

  &__instagram {
    &:hover {
      &::before {
        @include footer-hover('Instagram');
      }
    }
  }

  &__google {
    &:hover {
      &::before {
        @include footer-hover('Google+');
      }
    }
  }

  &__pin {
    &:hover {
      &::before {
        @include footer-hover('Pinterest');
      }
    }
  }
}